In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Base de datos original

In [6]:
df = pd.read_csv('datasets/df_file_output_v6_clean.csv')
df.rename(mapper={
    'Formule':'formula',
    'alfa':'alpha'
}, inplace=True)
df

,id,Formule,BG,IM,a,b,c,alfa,beta,gamma,CA
0,mp-1,Cs,0.0000,True,5.418661,5.418661,5.418660,109.471226,109.471227,109.471213,NaN
1,mp-2,Pd,0.0000,True,2.769950,2.769951,2.769950,59.999998,59.999983,60.000004,NaN
2,mp-3,Cs,0.0000,True,5.107693,5.107692,10.253232,104.422913,104.422916,89.999987,NaN
3,mp-4,Nd,0.0000,True,3.594818,3.594820,3.594820,109.471212,109.471223,109.471225,NaN
4,mp-7,S,2.2079,False,6.439929,6.439930,6.439930,114.751858,114.751848,114.751835,NaN
...,...,...,...,...,...,...,...,...,...,...,...
143661,mp-999552,MnGaFeCo,0.0000,True,4.041889,4.041889,4.041889,60.000000,60.000000,60.000000,NaN
143662,mp-999557,Mn2SnRu,0.0000,True,4.441578,4.441578,4.441578,60.000000,60.000000,60.000000,NaN
143663,mp-999558,Mn2SiNi,0.0000,True,4.003564,4.003564,4.003564,60.000000,60.000000,60.000000,NaN
143664,mp-999566,Mn2CuSb,0.0000,True,4.403664,4.403664,4.403664,60.000000,60.000000,60.000000,NaN
143665,mp-999576,Mn2SiRu,0.0000,True,4.104639,4.104639,4.104639,60.000000,60.000000,60.000000,NaN

# Eliminación de materiales sin CA reportado

In [7]:
df.dropna(subset='CA',inplace=True)
df

,id,Formule,BG,IM,a,b,c,alfa,beta,gamma,CA
13,mp-19,Te,0.1856,False,4.601352,4.601353,5.900062,89.955226,90.044754,119.990771,1.073863e+06
124,mp-149,Si,0.6105,False,3.849278,3.849279,3.849278,60.000012,60.000003,60.000011,1.133154e+05
189,mp-239,BaS3,1.3913,False,4.216011,6.951955,6.951955,90.000000,90.000000,90.000000,6.254652e+04
190,mp-241,CdF2,2.8977,False,3.819109,3.819111,3.819110,60.000012,60.000000,60.000017,1.582357e+03
198,mp-252,BeTe,2.0173,False,4.004287,4.004288,4.004287,60.000014,60.000010,60.000006,1.010930e+04
...,...,...,...,...,...,...,...,...,...,...,...
143634,mp-999472,NaLaSe2,2.2767,False,4.373467,4.373468,7.322635,72.624865,72.624866,59.999991,3.138570e+04
143636,mp-999474,NaHoSe2,1.8867,False,4.098759,4.098760,7.319147,73.739649,73.739643,60.000008,2.690055e+04
143639,mp-999488,NaDySe2,1.8635,False,4.116628,4.116628,7.313150,73.653005,73.653010,59.999996,3.031457e+04
143640,mp-999489,NaGdSe2,1.3585,False,4.171647,4.171665,7.318768,73.464234,73.463315,59.969785,1.219142e+05
143641,mp-999490,NaDyS2,2.2856,False,3.967093,3.967093,6.979570,73.489369,73.489364,60.000001,1.175913e+04